@import "variables";
@import "nesting";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.Master {
    background-image: url(/Images/1286562.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.P {
    color: cornflowerblue;
}

#names {
    font-size: 15px;
}

#names2 {
    font-size: 25px;
}

.Box {
    text-align: center;
    color: $color-fifa;
}

img {
    width: 250px;
    height: 250px;
    padding: 10px;
}

.menu {
    padding: 40px;
}

.main {
    margin: 40px;
}

#Text {
    text-align: center;
    font-size: 40px;
    color: $tittle-font;
    margin: 40px;
}

.d-block {
    max-height: fit-content;
    height: 800px;
    max-width: 800px;
    margin: auto;
}

footer {
    width: 100vh;
    height: 20px;
    position: fixed;
    bottom: 0%;
}

#footer2 {
    bottom: 0%;
}