@import "variables";
@import "nesting";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.Master {
    background-image: url(Images/1286562.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.P {
    color: $P;
    font-size: 18px;
}

#names {
    font-size: 15px;
}

#names2 {
    font-size: 20px;
}

.Box {
    text-align: center;
    color: $P;
    margin: 20px;
}

img {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px coral;
}


.menu {
    padding: 40px;
}

.main {
    margin: 40px;
}

#Text {
    text-align: center;
    font-size: 35px;
    color: $tittle-a;
    margin: 40px;
}

.d-block {
    max-height: fit-content;
    height: 500px;
    max-width: 500px;
    margin: auto;
}

.container {
    max-width: 1920px;
    margin: auto;
}

.sub-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 35%;

}

.sub-container>iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


footer {
    width: 100vh;
    height: 20px;
    position: fixed;
    bottom: 0%;
}

#footer2 {
    bottom: 0%;
}