.navbar-expand-lg ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-expand-lg li {
  list-style: none;
  margin-left: 9rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.navbar-expand-lg a {
  font-size: 22px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
}

.Master {
  background-image: url(Images/1286562.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.P {
  color: black;
  font-size: 18px;
}

#names {
  font-size: 15px;
}

#names2 {
  font-size: 20px;
}

.Box {
  text-align: center;
  color: black;
  margin: 20px;
}

img {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px coral;
}

.menu {
  padding: 40px;
}

.main {
  margin: 40px;
}

#Text {
  text-align: center;
  font-size: 35px;
  color: coral;
  margin: 40px;
}

.d-block {
  max-height: fit-content;
  height: 500px;
  max-width: 500px;
  margin: auto;
}

footer {
  width: 100vh;
  height: 20px;
  position: fixed;
  bottom: 0%;
}

#footer2 {
  bottom: 0%;
}