*{
    margin: 0;
    padding: 0;
    }

    body{
        background-color:$back-color;
        }

    .Master{
        background-image: url(Images/1286562.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }

    .Flex-Container{
    display: flex;
    max-width: 1920px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    }

    .Flex-Container2{
    display: flex;
    max-width: 1920px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    }

    #names{
    font-size: 15px;
    }

    #names2{
    font-size: 25px;
    }

    .Box{
    text-align: center;
    color:$color-flowerblue;
    }

        img{
            width: 250px;
            height: 250px;
            padding: 10px;
        }

        .M {
            padding: auto;
            text-align: center;
            color:$color-flowerblue;
          }

    /* Nesting */

    .navbar-expand-lg {
        ul {
        float: left;
        display: flex;
        justify-content: center;
        align-items: center; 
        }
        li {
        list-style: none;
        margin-left: 3rem;
        margin-top: 1rem;
        font-size: 1rem;
        }
        a {
        font-size: 20px;
        color:$tittle-font;
        font-family:$tittle-font;
        font-weight: bold;
        }
    }

/* Variables */
$tittle-font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$color-flowerblue:cornflowerblue;
$back-color:grey;
$tittle-font:white;


    .menu{
        padding: 40px;
    }
    .main{
        margin: 40px;
    }

    #Text {
    text-align: center;
    font-size: 40px;
    color:$tittle-font;
    margin: 40px;
    }

    .d-block{
        max-height: fit-content;
        height: 800px;
        max-width: 800px;
        margin: auto;
            }

    footer {
        width: 100vh;
        height: 20px;
        position: absolute;
        bottom: 0%;
    }

    #footer2{
        bottom: 0%;
    }